
nav {
  background-color: whitesmoke;
  /* Color de fondo de la barra de navegación */
  color: #fff;
  /* Color del texto */
  padding: 1.5em;
  /* Espaciado interno */

}
#LogoNav{

margin-left: 2rem;

}

/* Estilos de los enlaces en la barra de navegación */
nav a {
  color: #fff;
  /* Color del texto de los enlaces */
  text-decoration: none;
  /* Eliminar subrayado de los enlaces */
  margin: 0 15px;
  /* Margen entre enlaces */
}

/*Personalizacion de la barra de navegacion*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #efefef;
}
li {
  float: right;
  font-size: 200%;
}
li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-image: linear-gradient(whitesmoke, rgba(147, 197, 104, 1));
}
li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #000000;
}

/* Mostrar el menú desplegable al pasar el mouse sobre el enlace padre */
li.dropdown:hover .dropdown-content {
  display: block;
}

#LogoNav {
  position: absolute;
  width: 94px;
  height: 91px;
  left: 0px;
  top: 10px;

  background: url(image.png);
  border-radius: 16px;
}
.Texto-introduccion {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between ;
  margin-left: 15rem;
  margin-right: 10rem;
  margin-top: 10rem;
  
}
#Texto-principal {
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
  margin-left: 2rem;

  color: #000;

font-feature-settings: 'clig' off, 'liga' off;
font-family: Newsreader;
font-size: 4rem;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 4.8rem */
letter-spacing: -0.08rem;

}
#consultas {
  display: flex;
  margin-left: 30em;
  margin-right: 140em;

  font-size: 70%;
}
#Busqueda-Profesional{
  display: flex;
  font-size: 70%;
  width: 10rem;


}
.Foto{
  width: 75rem;
  height: 50rem;
}
.TextoInformacion{
  display: flex;
  flex-direction: row;
  justify-content: space-between ;
  margin-left: 15rem;
  margin-right: 15rem;
  margin-top: 10rem;
}
.TextoInformativo{
background-color: #ABC6A2;
border-radius: 0.625rem;
border: 1px solid var(--Color, #000);
font-size: 2rem;

padding: 2vh;

display: flex;
width: 40.3125rem;
height: 35.0625rem;
flex-direction: column;
align-items: flex-start;
gap: 3vh;
flex-shrink: 0;


}

footer {
  background-color: #676767;
  color: #fff;
  padding: 10px;
  text-align: center;
margin-top: 2rem;
  bottom: 0;
  width: 100%;}
