body {
  background-color: whitesmoke;
  font-size: 10px;
  width: 100%;
}
#Bienvenida {
  color: #314e27;
  font-family: "Times New Roman", Times, serif;
  font-size: 4rem;
  text-shadow: 0.11rem 0.2rem rgb(203, 203, 203);
}
#Inicio-sesion {
  font-family: "Times New Roman", Times, serif;
  font-size: 3rem;
}
#Caja-Principal {
  border: 2rem;
}
#Nombre {
  width: 53em;
  height: 3em;
  border-radius: 5em;
  border-width: 0.01em;
  padding-left: 1rem;
}

#Apellido {
  width: 53em;
  height: 3em;
  border-radius: 5em;
  border-width: 0.01em;
  padding-left: 1rem;
}

#DNI {
  width: 53em;
  height: 3em;
  border-radius: 5em;
  border-width: 0.01em;
  padding-left: 1rem;
}

#Correo {
  width: 53em;
  height: 3em;
  border-radius: 5em;
  border-width: 0.01em;
  padding-left: 1rem;
}
#BloqueDeLogo {
  display: flex;
  flex-direction: column;
  background-color: rgba(134, 189, 78, 1);
  flex-basis: calc(30%-2rem);
  height: 50em;
  width: 22em;
}

#Logo {
  display: block;
  background-color: rgba(134, 189, 78, 1);
  height: 12rem;
  width: 12rem;
  margin-top: 2rem;
  align-self: center;
  border-radius: 1rem;
}
#Caja-Principal {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  height: 80vh;
  align-items: center;
}
#ContainerRegistro {
  flex-basis: calc(70%-2rem);
}
#Texto-Bajo-Logo {
  margin-top: 3rem;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  line-height: 1em;
  margin-left: 4rem;
}
#Texto-Bajo-Logo2 {
  font-size: 2em;
  display: flex;
  flex-direction: column;
  margin-left: 4rem;
  margin-right: 4rem;
}
